<div class="container" id="imageLayout">
    <div class="row" id="contentRow">
        <h2 id="imageTitle">{{ currentContent.data.title }}</h2>
        <h4 id="imageTitle">by: {{ uploaderUsername }}</h4>
        <div class="col-md-6 col-md-offset-3" ng-if="currentContent.data.mimeType.substr(0, 5) == 'image'">
            <a href="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  currentContent.data.path)}}">
                <img id="imageToEdit" class="img-thumbnail" ng-src="http://util.mw.metropolia.fi/uploads/{{ currentContent.data.path }}">
            </a>
            <p id="imageDescription" ng-show="currentContent.data.mimeType.substr(0, 5) == 'image'">{{ currentContent.data.description }}</p>
        </div>
        <div class="col-md-6 col-md-offset-3" ng-if="currentContent.data.mimeType.substr(6, 10) == 'jpeg'">
            <div class="row">
                <button id="exifDataButton" class="btn btn-success btn-sm" ng-click="showExifData()">Image details</button>
                <div class="hide" id="exifDataRow">
                    <table id="exifDataTable">
                        <thead>
                            <tr>
                                <td id="exifType">Image type</td>
                                <td>{{currentContent.data.mimeType}}</td>
                            </tr>
                            <tr>
                                <td id="exifType">Upload time</td>
                                <td>{{currentContent.data.uploadTime}}</td>
                            </tr>
                            <tr>
                                <td id="exifType">Make</td>
                                <td>{{make}}</td>
                            </tr>
                            <tr>
                                <td id="exifType">Model</td>
                                <td>{{model}}</td>
                            </tr>
                            <tr>
                                <td id="exifType">Time</td>
                                <td>{{time}}</td>
                            </tr>
                            <tr>
                                <td id="exifType">Longitude</td>
                                <td>{{gpsLongitude}}</td>
                            </tr>
                            <tr>
                                <td id="exifType">Latitude</td>
                                <td>{{gpsLatitude}}</td>
                            </tr>
                        </thead>
                        <tbody id="exif-table-body">
                        </tbody>
                    </table>
                    
                    <div id="iframeDiv" class="embed-responsive embed-responsive-16by9">
                    </div>
                </div>
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9" ng-if="currentContent.data.mimeType.substr(0, 5) == 'video'">
            <video id="videoPlayer" ng-src="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  currentContent.data.path)}}" controls> </video>

        </div>
        <p id="videoDescription" ng-show="currentContent.data.mimeType.substr(0, 5) == 'video'">{{ currentContent.data.description }}</p>

        <div ng-if="currentContent.data.mimeType.substr(0, 5) == 'audio'">
            <audio controls id="audioPlayer">
                <source ng-src="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  currentContent.data.path)}}" type="{{ file.mimeType }}">
            </audio>
            <p id="audioDescription" ng-show="currentContent.data.mimeType.substr(0, 5) == 'audio'">{{ currentContent.data.description }}</p>
        </div>
    </div>
</div>