<div>
    <!--THIS IS REPLACES test.html-->
    <contentview-content></contentview-content>

    <div class="row" ng-controller="ContentButtonController">
        <button class="btn btn-success" ng-click="previousContent()"><span class="glyphicon glyphicon-arrow-left"></span>Previous</button>
        <button class="btn btn-success" ng-click="nextContent()">Next<span class="glyphicon glyphicon-arrow-right"></button>
        <button class="btn btn-success" ng-click="randomContent()">Random</button>
    </div>

    <!-- FILTER BUTTON -->
    <div class="btn-group">
        <div class="dropdown" id="filterButton">
            <button class="btn btn-success dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Filters
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="blackAndWhite()">BlackandWhite</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addText()">Text</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="glfxTest()">GLFX</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="saveImage()">Save</a></li>
            </ul>
        </div>



        <!--LIKE BUTTON-->
        <div class="row" ng-controller="LikeController" id="test">
            <div class="col-md-6 col-md-offset-3">
                <button id="likeButton" class="btn btn-success disabled" ng-click="toggleLike()">
                    <span id="likeSpan" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <!--ADD NEW COMMENT-->
    <div class="container" ng-controller="AddCommentController">
        <div class="row">
            <div id="commentBox" class="col-lg-6 col-md-6 col-md-offset-3 col-lg-offset-3">
                <form id="commentForm">
                    <textarea id="commentingBox" class="form-control" rows="3" name="comment" ng-model="comment" placeholder="Log in before adding your comment!"></textarea>
                    <button id="addCommentButton" class="btn btn-success disabled" ng-click="addComment()" id="commentButton">Comment</button>
                </form>
            </div>
        </div>
    </div>

    <!--COMMENTS-->
    <div ng-controller="CommentController">
        <div id="commentContainer" class="container" ng-repeat="file in commentData">
            <div class="row">
                <div id="commentHeader" class="col-md-6 col-md-offset-3">
                    <h4 id="commentInfo">{{ file.username }} {{ file.time }}</h4>
                </div>
            </div>
            <div class="row">
                <div id="commentContent" class="col-md-6 col-md-offset-3">
                    <p>{{ file.comment }}</p>
                </div>
            </div>
        </div>
    </div>

</div>