<div class="container" id="imageLayout">
    <div class="row" id="contentRow">
        <h1 id="imageTitle">{{ currentContent.data.title }}</h1>
        <h4 id="imageTitle">by user: {{ uploaderUsername }}</h4>
        <div class="col-md-6 col-md-offset-3" ng-if="currentContent.data.mimeType.substr(0, 5) == 'image'">
            <a href="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  currentContent.data.path)}}">
                <img id="imageToEdit" class="img-thumbnail" ng-src="http://util.mw.metropolia.fi/uploads/{{ currentContent.data.path }}">
            </a>
            <p id="imageDescription">{{ currentContent.data.description }}</p>
        </div>
        <div class="col-md-6 col-md-offset-3" ng-if="currentContent.data.mimeType.substr(6, 10) == 'jpeg'">
            <div id="row">
                <button id="exifDataButton" class="btn btn-default" ng-click="getExifData()">Show exif data</button>
                <table style="margin-top: 12px;">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody id="exif-table-body">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9" ng-if="currentContent.data.mimeType.substr(0, 5) == 'video'">
            <video id="videoPlayer" ng-src="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  currentContent.data.path)}}" controls> </video>

        </div>
        <p id="videoDescription">{{ currentContent.data.description }}</p>
        <div ng-if="currentContent.data.mimeType.substr(0, 5) == 'audio'">
            <audio controls id="audioPlayer">
                <source ng-src="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  currentContent.data.path)}}" type="{{ file.mimeType }}">
            </audio>
            <p id="audioDescription">{{ currentContent.data.description }}</p>
        </div>
    </div>
    <!--<img src="https://maps.googleapis.com/maps/api/staticmap?maptype=satellite&center=37.530101,38.600062&zoom=14&size=640x400&key=AIzaSyB-MSqFBTkmnzSc2ph2SqiTx1ffuSZAW08">-->
</div>