<div class="modal fade" id="logInMod" tabindex="-1" role="dialog" ng-controller="LoginController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Type your username and password</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <input type="text" id="usernameLogIn" placeholder="Username" name="username" ng-model="logUsername" />
                    <br>
                    <input type="password" id="passwordLogIn" placeholder="Password" name="password" ng-model="logPassword" />
                    <br>
                    <button id="forgotpass" type="button" class="btn btn-forgot" data-dismiss="modal">Forgot password?</button>
                </form>
            </div>
            <div class="modal-footer">
                <button id="notuser" type="button" class="btn btn-primary" data-dismiss="modal">Not user? Sign up, here!</button>
                <button id="logincheck" type="button" class="btn btn-default" ng-click="login()" data-dismiss="modal">Login</button>
            </div>
        </div>
    </div>
</div>