<div class="modal fade" id="logInMod" tabindex="-1" role="dialog" ng-controller="LoginController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="modalHeader">&times;</span>
                </button>
                <h4 class="modal-title" id="modalHeader">Already a member? Welcome back.</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <input type="text" id="usernameLogIn" placeholder="Username" value="kana" name="username" ng-model="logUsername" />
                    <br>
                    <input type="password" id="passwordLogIn" placeholder="Password" value="kana" name="password" ng-model="logPassword" />

                </form>
            </div>
            <div class="modal-footer">
                <button id="notuser" type="button" class="btn btn-info" data-dismiss="modal" ng-click="showSignup()">Not a user? Sign up here!</button>
                <button id="logincheck" type="button" class="btn btn-success" ng-click="login()" data-dismiss="modal">Login</button>
            </div>
        </div>
    </div>
</div>