 <div id="loginSuccess" class="alert alert-success hide-alert" role="alert" ng-click="closeSuccess()">
        <strong>Logged in successfully!</strong> Begin uploading or go to <a ng-click="userUploads()" id="myprofile" class="alert-link">your images</a>.
    </div>


    <div id="loginFailure" class="alert alert-danger hide-alert" role="alert" ng-click="closeFailure()">
        <strong>Wrong username or password!</strong> Please try again.
    </div>
    
        
<div id="loggedOut" class="alert alert-info hide-alert" role="alert" ng-click="closeLoggedout()">
  <strong>Logged out.</strong> Be back soon!
</div>
    
        
<div id="registerSuccess" class="alert alert-info hide-alert" role="alert" ng-click="closeRegistersuccess()">
  <strong>Registered successfully.</strong> You can now log in!
</div>

<div id="registerFailure" class="alert alert-danger hide-alert" role="alert" ng-click="closeRegisterfailure()">
  <strong>Register unsuccessful, either wrong username or password!</strong> Please try again.
</div>

<show-content></show-content>


<lower-navbar></lower-navbar>


