<nav id="navi" class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavController">
    <div class="container-fluid">
        <div class="navbar-header">

            <button id="uploadbutton" ng-click="showUpload()" type="button" class="btn btn-success disabled">Upload</button>
        
            <a class="navbar-brand" href="app.html" id="logo">{{ title }}</a>
            <a class="navbar-brand" href="app.html" id="logo">
                <!--{{ title }}-->
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav" ng-click="showNavbar != showNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNav">
            <ul class="nav navbar-nav">
                
                <li><a href="#" ng-click="showSearch()" id="search" data-toggle="collapse" data-target=".navbar-collapse">Search</a></li>
                
                <li><a href="#" ng-click="userUploads()" id="myprofile" data-toggle="collapse" data-target=".navbar-collapse">My Images</a></li>
                
                <li><a href="#" ng-click="userFavourites()" id="myfavourites" data-toggle="collapse" data-target=".navbar-collapse">My favourites</a></li>
                
                <li><a ng-click="showSignup()" id="signup" data-toggle="collapse" data-target=".navbar-collapse">Signup</a></li>
                
                <li><a ng-click="showLogin()" id="login" data-toggle="collapse" data-target=".navbar-collapse">Login</a></li>
                
                <li><a id="logout" ng-click="logout()" data-toggle="collapse" data-target=".navbar-collapse">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>