<div id="contents" class="container" ng-controller="ContentController">
    <div id="tasku" ng-repeat="file in contentData.data | filter:contentToShow | limitTo:loadAmount track by $index" ng-repeat-done-notification>

        <div id="imageDiv" ng-if="contentToShow == '' && getType(file.mimeType) == 'image' || contentToShow == 'image' && getType(file.mimeType) == 'image'">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-sx-6">
                    <p>{{ file.title }}</p>
                    <div ng-if="getImageType(file.mimeType) != 'gif'">
                        <img class="img-thumbnail" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.large }}" alt="{{ file.fileId }}" ng-click="openImageView(this)">
                    </div>
                    <div ng-if="getImageType(file.mimeType) == 'gif'">
                        <img class="img-thumbnail" onload="Gifffer()" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.large }}" data-gifffer="http://util.mw.metropolia.fi/uploads/{{ file.path }}" alt="{{ file.fileId }}" ng-click="openImageView(this)">
                    </div>
                    <div class="carousel-caption">
                        <span id="contentIcon" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                    </div>
                    <br>
                    <button id="commentBut" class="btn btn-success" ng-click="openImageView(this)">Open</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div id="audioDiv" ng-if="contentToShow == '' && getType(file.mimeType) == 'audio' || contentToShow == 'audio' && getType(file.mimeType) == 'audio'">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-sx-6">
                    <p>{{ file.title }}</p>
                    <audio controls>
                        <source ng-src="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  file.path)}}" type="{{ file.mimeType }}">
                    </audio>
                    <div class="carousel-caption">
                        <span id="contentIcon" class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
                    </div>
                    <br>
                    <button id="commentBut" class="btn btn-success" ng-click="openImageView(this)">Open</button>
                    <br>
                    <br>

                </div>
            </div>
        </div>

        <div id="videoDiv" ng-if="contentToShow == '' && getType(file.mimeType) == 'video' || contentToShow == 'video' && getType(file.mimeType) == 'video'">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-sx-6">
                    <p>{{ file.title }}</p>
                    <img class="img-thumbnail" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.screenCapture }}" alt="{{ file.fileId }}" ng-click="openImageView(this)">
                    <div class="carousel-caption">
                        <span id="contentIcon" class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                    </div>
                    <br>
                    <button id="commentBut" class="btn btn-success" ng-click="openImageView(this)">Open</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>