<div id="contents" class="container" ng-controller="ContentController">
    <div id="tasku" ng-if="getType(file.mimeType) == 'image'" ng-repeat="file in contentData.data | limitTo:loadAmount" when-scrolled="loadContent()">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sx-6">
                <p>{{ file.title }}</p>
                <img class="img-thumbnail" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.large }}" alt="{{ file.fileId }}" ng-click="openImageView(this)">
                <br>
                <button id="commentBut" class="btn btn-success" ng-click="openImageView(this)">Open</button>
                <br>
                <br>
            </div>
        </div>
    </div>

    <div id="tasku" ng-repeat="file in contentData.data | limitTo:loadAmount" ng-if="getType(file.mimeType) == 'audio'" when-scrolled="loadContent()">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sx-6">
                <p>{{ file.title }}</p>
                <audio controls>
                    <source ng-src="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  file.path)}}" ng-click="openImageView(this)" type="{{ file.mimeType }}">
                </audio>
                <br>
                <button id="commentBut" class="btn btn-success" ng-click="openImageView(this)">Open</button>
                <br>
                <br>
            </div>
        </div>
    </div>

    <div id="tasku" ng-repeat="file in contentData.data | limitTo:loadAmount" ng-if="getType(file.mimeType) == 'video'" when-scrolled="loadContent()">
        <div class="row" ng-if="getType(file.mimeType) == 'video'">
            <div class="col-md-6 col-sm-6 col-sx-6">
                <p>{{ file.title }}</p>
                <!--                <video width="300">
                    <source ng-src="{{ trustURL('http://util.mw.metropolia.fi/uploads/' +  file.path)}}" ng-click="openVideoView(this)" type="{{ file.mimeType }}">
                </video>-->
                <img class="img-thumbnail" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.thumbNails.screenCapture }}" alt="{{ file.fileId }}" ng-click="openImageView(this)">

                <br>
                <button id="commentBut" class="btn btn-success" ng-click="openImageView(this)">Open</button>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>