<div class="modal custom fade" id="uploadUpMod" tabindex="-1" role="dialog" ng-controller="UploadController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" id="modalHeader">&times;</span>
                </button>
                <h4 class="modal-title" id="modalHeader">Upload</h4>
            </div>
            <div class="modal-body">
                <input id="imgInp" type="file" name="file" onchange="angular.element(this).scope().setMediaFile(this)">
                <form id="uploadform">

                    <!--CAMANJS TOIMII-->
                    <!--<canvas id="previewCanvas" style="width: 100%;" ng-click="brightenCanvas()"> </canvas>-->


                    <canvas id="previewCanvas" style="width: 100%;"> </canvas>


                    <!--GLFX TOIMII-->
                    <!--                    <img id="imagesss" class="testitest" src="/src/images/tontu.jpg" style="width: 100%;" ng-click="glfx()">-->
                    <br>
                    <textarea class="form-control" rows="1" id="titleinput" name="title" placeholder="Title"></textarea>
                    <br>
                    <textarea class="form-control" rows="4" id="descriptioninput" name="description" placeholder="Description (max 140 characters)"></textarea>
                    <p id="remain"></p>
                    <br>


                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filters <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="glfxAddEffects()">GLFX</a></li>
                            <li><a href="#" ng-click="glfxAddEffects2()">GLFX2</a></li>
                            <li><a href="#" ng-click="addSepia()">Sepia</a></li>
                            <li><a href="#" ng-click="addTiltShift()">Tilt</a></li>
                            <li><a href="#" ng-click="unsharpMask()">Unsharp</a></li>
                            <li><a href="#" ng-click="addText()">addText</a></li>
                            <li><a href="#" ng-click="acceptEdit()">Accept</a></li>
                        </ul>
                    </div>


                    <!--<button>Effect</button>
                    <button>Effect2</button>
                    <button>Sepia</button>
                    <button >Tilt</button>
                    <button >Unsharp</button>
                    <button >addText</button>
                    <button >Acecpt</button>-->
                    <button id="upload" class="btn btn-success btn-sm" ng-click="uploadContent()" data-dismiss="modal">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>