<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta httpequiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediaRekt</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="scripts/main.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body ng-app="mediaRekt" ng-controller="MainController">

    <!--UPPER NAVBAR-->
    <navbar></navbar>

    <div id="loginSuccess" class="alert alert-success hide-alert" role="alert" ng-click="closeSuccess()">
        <strong>Logged in successfully!</strong> Begin uploading or go to <a ng-click="userUploads()" id="myprofile" class="alert-link">your images</a>.
    </div>


    <div id="loginFailure" class="alert alert-danger hide-alert" role="alert" ng-click="closeFailure()">
        <strong>Wrong username or password!</strong> Please try again.
    </div>
    
        
<div id="loggedOut" class="alert alert-info hide-alert" role="alert" ng-click="closeLoggedout()">
  <strong>Logged out.</strong> Be back soon!
</div>
    
        
<div id="registerSuccess" class="alert alert-info hide-alert" role="alert" ng-click="closeRegistersuccess()">
  <strong>Registered successfully.</strong> You can now log in!
</div>

<div id="registerFailure" class="alert alert-danger hide-alert" role="alert" ng-click="closeRegisterfailure()">
  <strong>Register unsuccessful, either wrong username or password!</strong> Please try again.
</div>

    <show-content></show-content>
    <!--MODAL STUFF-->

    <!--UPLOAD IMAGE-->
    <upload-modal></upload-modal>

    <!--SIGN UP-->
    <register-modal></register-modal>

    <!--LOGIN-->
    <login-modal></login-modal>

    <!--SEARCH-->
    <search-modal></search-modal>

    <!--FORGOT PASSWORD?!-->
    <forgot-password-modal></forgot-password-modal>

    <!--LOWER NAVBAR-->
    <lower-navbar></lower-navbar>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Include angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- Include My App's JS file(s)-->
    <script src="scripts/app.js"></script>
    <script src="scripts/Controllers/navController.js"></script>
    <script src="scripts/Controllers/scrollController.js"></script>
    <script src="scripts/Controllers/contentController.js"></script>
    <script src="scripts/Controllers/signupController.js"></script>
    <script src="scripts/Controllers/uploadController.js"></script>
    <script src="scripts/Controllers/loginController.js"></script>
    <script src="scripts/Controllers/mainController.js"></script>
    <script src="scripts/Controllers/fileTypeController.js"></script>
    <script src="scripts/Controllers/imageController.js"></script>
    <script src="scripts/Controllers/searchController.js"></script>
    <script src="scripts/Services/ajaxFactory.js"></script>
    <script src="scripts/Services/shareDataService.js"></script>
    <script src="scripts/Directives/registerModal.js"></script>
    <script src="scripts/Directives/loginModal.js"></script>
    <script src="scripts/Directives/showContent.js"></script>
    <script src="scripts/Directives/navbar.js"></script>
    <script src="scripts/Directives/uploadModal.js"></script>
    <script src="scripts/Directives/searchModal.js"></script>
    <script src="scripts/Directives/forgotPasswordModal.js"></script>
    <script src="scripts/Directives/lowerNavbar.js"></script>
</body>

</html>